footer {
  height: 7em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--clr-bg-alt);
  box-shadow: 0 -0.1em 1em rgb(0, 0, 0, 0.1);
}

footer ul {
  display: flex;
}

footer small {
  font-weight: 500;
  margin-top: 0.5em;
}
